<!DOCTYPE HTML>

<html>
	<head>
		<title>Prism by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="css/main.css" />
		<script type="text/javascript" src="js/jquery.js"></script>
		<script type="text/javascript" src="js/bootstrap.js"></script>
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="angular/login.js"></script>
	</head>
	<body ng-controller="loginctrl">

	<div class="container">
		<section id="banner">
				<div class="inner split">
					<section>
						<h2>
							Welcome to expressTodo 
						</h2>
						<h3>Now maintain all your todo systematically in your own account</h3>
					</section>
					<section>
						
						<ul >
							<li>Save Bookmark as a link</li>
							<li>Maintain any to do for future</li>
						</ul>
						<ul class="actions">
							<li><a href="#" class="button btn-odnoklassniki" ng-click="login()">Get started</a></li>
						</ul>
					</section>
				</div>
			</section>
		<!-- Footer -->
			<footer id="footer">
				<div class="copyright">
					
				</div>
			</footer>		
	</div>

	</body>
</html>